export DIRENV_LOG_FORMAT=''

eval "$(devenv direnvrc)"

use devenv -u 4 -j 12

if ! command -v op &> /dev/null; then
    echo "Warning: 1Password CLI is not installed. Some environment variables may not be set correctly."
    echo -e "\tuse\n\t$ scripts/setup"
    echo -e "\tto setup your environment"
else
    if [ -f ~/.config/op/plugins.sh ]; then
        source ~/.config/op/plugins.sh
    fi

    export OP_ACCOUNT=${OP_ACCOUNT:-https://team-strada.1password.com}
    op signin --account $OP_ACCOUNT

    export ENVIRONMENT=${ENVIRONMENT:-LOCAL}
    export DOTENV_FILE="$(pwd)/.env.${ENVIRONMENT,,}"
    direnv_load op run --env-file $DOTENV_FILE --no-masking -- direnv dump
    watch_file $DOTENV_FILE
fi

dotenv_if_exists .env.config
dotenv_if_exists .env
